<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="res/styles.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
	<title>Moderator Dashboard</title>
</head>
<body>
	<div class="container" style="vertical-align: center;">
		<h1 class="title">Moderator Dashboard</h1>
		<ul class="nav nav-tabs tabs-bar">
			<li role="presentation" class="active" id="js-mng-contests"><a href="#">Manage Contests</a></li>
			<li role="presentation" id="js-mng-challenges"><a href="#">Manage Challenges</a></li>
			<li role="presentation" id="js-statistics"><a href="#">Statistics</a></li>
			<form class="" style="float: right;">
		    	<div class="form-group">
					<input type="text" class="form-control" placeholder="Search">
		    	</div>
		    </form>
		</ul>

		<div class="mng-contests-modal main-modal">
			<div class="clearfix">
				<div style="float: left;">
					<p>Contests you can edit are below.</p>
				</div>
				<a class="btn btn-success" style="float: right;">Create Contest</a>
			</div>

			<div id=" 	" class="table-adjustable">
                <div class="table">
                    <div class="row table-title no-margin">
                        <div class="col-xs-1 vd-col-xs-20">
                            Contest Name
                        </div>
                        <div class="col-xs-1 vd-col-xs-20 text-center">
                            Contest Slug
                        </div>
                        <div class="col-xs-1 vd-col-xs-20 text-center">
                            Contest Owner
                        </div>
                        <div class="col-xs-1 vd-col-xs-15 text-center">
                            Start Date
                        </div>
                        <div class="col-xs-1 vd-col-xs-10 text-center">
                            Signups
                        </div>
                        <div class="col-xs-1 vd-col-xs-15 text-center">
                            Participants
                        </div>
                    </div>
                    <div class="table-border table-cs table-body">
                        <div id="no-content" class="row table-row no-margin table-cs">
                            <div class="col-sm-12 text-center">
                                You have not created any contests.
                            </div>
                        </div>
                        <a href="#">
	                        <div class="row table-row no-margin table-cs">
	                            <div class="col-xs-1 vd-col-xs-20">contest 1</div>
	                            <div class="col-xs-1 vd-col-xs-20 text-center">contest-1</div>
	                            <div class="col-xs-1 vd-col-xs-20 text-center">reficul</div>
	                            <div class="col-xs-1 vd-col-xs-15 text-center">Apr 10, 2019</div>
	                            <div class="col-xs-1 vd-col-xs-10 text-center">0</div>
	                            <div class="col-xs-1 vd-col-xs-15 text-center">0</div>
	                        </div>
                        </a>
                    </div>
                </div>
            </div>
		</div>

		<div class="mng-challenges-modal main-modal hidden">
			<div class="clearfix">
				<div style="float: left;">
					<p>Challenges you can edit are below.</p>
				</div>
				<a class="btn btn-success" style="float: right;">Create Challenges</a>
			</div>

			<div id="" class="table-adjustable">
                <div class="table">
                    <div class="row table-title no-margin">
                        <div class="col-xs-1 vd-col-xs-40">
                            Challenge Name
                        </div>
                        <div class="col-xs-1 vd-col-xs-30 text-center">
                            Challenge Slug
                        </div>
                        <div class="col-xs-1 vd-col-xs-30 text-center">
                            Challenge Owner
                        </div>
                    </div>
                    <div class="table-border table-cs table-body">
                        <div id="no-content" class="row table-row no-margin table-cs">
                            <div class="col-sm-12 text-center">
                                You have not created any challenges.
                            </div>
                        </div>
                        <a href="#">
	                        <div class="row table-row no-margin table-cs">
	                            <div class="col-xs-1 vd-col-xs-40">Hello World in Java</div>
	                            <div class="col-xs-1 vd-col-xs-30 text-center">hello-world-in-java</div>
	                            <div class="col-xs-1 vd-col-xs-30 text-center">reficul</div>
	                        </div>
                        </a>
                    </div>
                </div>
            </div>
		</div>

		<div class="statistics-modal main-modal hidden">
			<div class="clearfix">
				<p>There's nothing here!!</p>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js"></script>
    <script src="res/scripts.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>