@model COURSE_CODING.Models.CompeteModel

@{
    ViewBag.Title = "Compete";
    Layout = "~/Views/Shared/_User_Layout.cshtml";
}
@section CustomCSS
{
    @Styles.Render("~/Assets/Public/css/user-contest.css")
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
}

<section class="header-page">
    <div class="container">
        <div class="row">
            <div class="col-6 domain-header">
                <p class="sub-contest-title">All Contests</p>
                <h3 class="contest-title">Contests</h3>
            </div>

            <div class="col-6">

            </div>
        </div>
    </div>
</section>
<section class="content-page">
    <div class="container">
        <div class="row">
            <!--Contest list-->
            <div class="col-9 challenge-list">
                @if (Model.competes.Count > 0)
                {
                    foreach (var item in Model.competes)
                    {
                        <!--1 Contest-->
                        <div class="one-contest-box">
                            <div class="row">
                                <div class="col-5 contest-info">
                                    <h3 class="card-title" title="Regex">@Html.DisplayFor(modelItem => item.Title)</h3>
                                </div>
                                <div class="col-7 contest-enter">
                                    <span><strong class="time-happen">Mar 17th, 12:00 am +07</strong><i class="contest-status">Open</i></span>
                                    @*<a href="" class="btn btn-outline-success">Enter Contest</a>*@
                                    <button class="btn btn-outline-success" tabindex="0">
                                        <span class="ui-text">Enter Contest</span>
                                    </button>
                                </div>
                            </div>
                            <div class="contest-description" style="display: none;">
                                <hr>
                                <h5><strong>Description</strong></h5>
                                <p>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </p>
                            </div>
                        </div>

                    }
                }
            </div>

            <!--filter-->
            <div class="col-3 contest-filter">
                <div class="one-filter">
                    <h6 class="label">STATUS</h6>
                    <!-- Default indeterminate -->
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="status_easy" checked>
                        <label class="custom-control-label" for="status_easy">Unjoined</label>
                    </div>
                    <!-- Default indeterminate -->
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="status_normal">
                        <label class="custom-control-label" for="status_normal">Joined</label>
                    </div>
                </div>
                <hr>

                <div class="one-filter">
                    <h6 class="label">DIFFICULTY</h6>
                    <!-- Default indeterminate -->
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="difficult_easy" checked>
                        <label class="custom-control-label" for="difficult_easy">Easy</label>
                    </div>
                    <!-- Default indeterminate -->
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="difficult_normal">
                        <label class="custom-control-label" for="difficult_normal">Normal</label>
                    </div>
                    <!-- Default indeterminate -->
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="difficult_hard">
                        <label class="custom-control-label" for="difficult_hard">hard</label>
                    </div>
                </div>
                <hr>

                <div class="one-filter">
                    <h6 class="label">LANGUAGE</h6>
                    @if (true)
                    {
                        foreach (var item in Model.languages)
                        {
                            <!-- Default indeterminate -->
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <label class="custom-control-label" for="language_@Html.DisplayFor(modelItem => item.Name)">@Html.DisplayFor(modelItem => item.Name)</label>
                            </div>
                        }
                    }

                </div>

            </div>
        </div>
    </div>
</section>

@*Custome JS*@
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $(".one-contest-box").click(function () {
                $(this).children(".contest-description").slideToggle("slow");
            });
        });
    </script>
}

