
@{
    ViewBag.Title = "Live Code";
    Layout = "~/Views/Shared/_User_Layout.cshtml";
}

@section CustomCSS
{
    @Styles.Render("~/Assets/Public/css/live_code.css")
}
<div class="row">
    <div id="code_editor" class="col-md-5">
        <div id="editor"></div>
    </div>
    <div id="option" class="col-md-2">
        <button id="btn_run" class="btn btn-success" onclick="runCode()">Run &nbsp; <i id="runCode" class="fas fa-play"></i><span><img id="loadingImg" src="~/Assets/Public/images/loading.gif" alt="Alternate Text" /></span></button>
        <select class="form-control" id="language_option">
            <option value="CPP">C++</option>
            <option value="CSharp">C#</option>
            <option value="Java">Java</option>
        </select>
    </div>
    <div id="runcode_result" class="col-md-5">
        <h4>Output</h4>
    </div>
</div>

@section scripts
{
    <!--ace editor-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.4/ace.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.4/ext-language_tools.js"></script>

    <script>
        $('.loadingImg').hide();
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/monokai");
        //editor.session.setMode("ace/mode/javascript");
        editor.setOptions({
            enableBasicAutocompletion: true,
            enableSnippets: true,
            enableLiveAutocompletion: true
        });

        function loadPage() {
            console.log("load page roi nha")
            let language = $('#language_option').val();
            setModeEditor(language);
        }

        loadPage();

        $('#language_option').on('change', function () {
            let language = this.value;
            setModeEditor(language);

        });

        function setModeEditor(language) {
            console.log('Da thay doi language ' + language)
            if (language == "CPP") {
                language = "c_cpp";
            } else if (language == "CSharp") {
                language = "csharp";
            } else if (language == "Java") {
                language = "java";
            }

            editor.session.setMode("ace/mode/" + language);
        }

        //Run code
        function runCode() {
            code = editor.getValue();
            language = $('#language_option').val();
            $('#loadingImg').show();
            $('#runCode').hide();
            $.ajax({
                method: "POST",
                url: "/Code/LiveCode",
                data: {
                    Code: code,
                    Language: language
                }
            })
                .done(function (msg) {
                    $('#loadingImg').hide();
                    $('#runCode').show();
                if (msg) {
                    console.log(msg)
                    if (msg) {
                        var content;
                        if (msg.status === "success") {
                            content = `<div class="alert alert-success">
                                        <strong>Success!</strong>
                                    </div>
                                    <h5>Output: </h5>
                                    <pre class="code-panel-success"><code>${msg.message}</code></pre>`;
                        } else {
                            content = `<div class="alert alert-danger">
                                        <strong>Fail!</strong>
                                    </div>
                                    <h5>Output: </h5>
                                    <pre class="code-panel-fail"><code>${msg.message}</code></pre>`;
                        }
                            
                        $('#runcode_result').html(content);

                    }
                }

            });
        }
    </script>
}
