<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>   
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

<!--<connectionStrings><add name="DCCourseCoding" connectionString="data source=.;initial catalog=CODING_CHALLENGE;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /></connectionStrings>-->
  <connectionStrings>
    <add name="DCCourseCoding" connectionString="workstation id=CourseCoding.mssql.somee.com;packet size=4096;user id=dvp1103_SQLLogin_1;pwd=647gr8ku6q;data source=CourseCoding.mssql.somee.com;persist security info=False;initial catalog=CourseCoding" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>