.answer .custom-control {
    padding-bottom: 5px;
}

.answer .custom-control label {
    width: 70%;
    min-width: 600px;
}

.save-change-btn-group {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px solid grey;
    padding: 20px;
    background-color: white;
    z-index: 100;
}

.save-change-btn-group button {
    float: right;
    margin-left: 5px;
}

.ques-item {
    padding: 30px;
    border-radius: 5px;
    border: 1px solid #C2C7D0;
    margin-top: 20px;
}

.btn-remove-ques {
    float: right;
    border-radius: 50%;
    background-color: red;
    color: white;
    font-size: 20px;
    width: 30px;
    height: 30px;
    text-align: center;
}

.breadcrumb {
    background-color: white !important;
    border-radius: 0 !important;
    height: 60px;
    padding: 25px 10px 0 0 !important;
}

.breadcrumb-item a {
    color: rgb(145, 145, 145);
    text-decoration: none;
}

    .breadcrumb-item a:hover {
        color: rgb(102, 102, 102);
        text-decoration: none;
    }