* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, Arial !important;
    vertical-align: middle;
}

.breadcrumb {
    background-color: white !important;
    border-radius: 0 !important;
    height: 60px;
    padding: 25px 10px 0 0 !important;
}

.form-input textarea {
    resize: none;
    border-radius: .25rem;
    padding: 5px 10px;
}

.title {
    margin: .75em 0;
}

.subtitle {
    font-size: 1.1em;
    color: rgb(161, 161, 161);
}

.span16 {
    width: 100%;
}

.span12 {
    width: 80% !important;
}

nav ol li a {
    color: rgb(145, 145, 145);
    text-decoration: none;
}

    nav ol li a:hover {
        color: rgb(102, 102, 102);
        text-decoration: none;
    }

.form-margin {
    margin: 20px 0;
}

.bottom-bar-wrapper {
    background-color: white;
    border-top: 1px solid #C2C7D0;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
}

.btn-pull-right {
    float: right;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
}

.form-group .setting-des {
    padding-left: 15px;
    padding-right: 15px;
}

.form-group label {
    font-weight: bold;
}

.save-change-btn-group {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px solid grey;
    padding: 20px;
    background-color: white;
    z-index: 100;
}

.save-change-btn-group button {
    float: right;
}

.table-adjustable {
    width: 100% !important;
    margin-top: 10px !important;
    padding: 15px;
    overflow-x: auto;
}

    .table-adjustable .vd-col-xs-5 {
        display: inline-block !important;
        flex: 0 0 5%;
        max-width: 5%;
    }

    .table-adjustable .vd-col-xs-75 {
        display: inline-block !important;
        flex: 0 0 7.5%;
        max-width: 7.5%
    }

    .table-adjustable .vd-col-xs-10 {
        display: inline-block !important;
        flex: 0 0 10%;
        max-width: 10%
    }

    .table-adjustable .vd-col-xs-125 {
        display: inline-block !important;
        flex: 0 0 12.5%;
        max-width: 12.5%
    }

    .table-adjustable .vd-col-xs-15 {
        display: inline-block !important;
        flex: 0 0 15%;
        max-width: 15%
    }

    .table-adjustable .vd-col-xs-175 {
        display: inline-block !important;
        flex: 0 0 17.5%;
        max-width: 17.5%
    }

    .table-adjustable .vd-col-xs-20 {
        display: inline-block !important;
        flex: 0 0 20%;
        max-width: 20%
    }

    .table-adjustable .vd-col-xs-30 {
        display: inline-block !important;
        flex: 0 0 30%;
        max-width: 30%
    }

    .table-adjustable .vd-col-xs-40 {
        display: inline-block !important;
        flex: 0 0 40%;
        max-width: 40%
    }

    .table-adjustable .row {
        -webkit-flex-wrap: nowrap !important;
        -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important;
        display: flex;
        -webkit-box-orient: horizontal !important;
        -webkit-box-direction: normal !important;
        -webkit-flex-direction: row !important;
        -ms-flex-direction: row !important;
        flex-direction: row !important;
        white-space: nowrap;
    }

.adjust-box {
    padding-left: 20px;
    border-left: 1px solid #ddd;
    display: inline-block;
    height: 34px;
    padding-top: 5px;
    margin-left: -15px;
}

    .adjust-box .icon {
        color: #888;
        cursor: pointer;
    }

        .adjust-box .icon:hover {
            color: #357EDE;
        }

/* TABLE ADJUSTABLE */

.table-name {
    font-size: 14px;
    font-weight: bold;
    color: #888;
    text-transform: uppercase;
}

.table-title {
    font-size: 14px;
    font-weight: bold;
    color: #666;
    text-transform: uppercase;
    flex-wrap: nowrap !important;
    display: flex;
}

    .table-title div {
        cursor: pointer;
    }

        .table-title div.nosort {
            cursor: auto;
        }

.icon-sort.icon {
    display: none;
    margin-left: 10px;
}

.icon-sort {
    transform: rotate(180deg);
    cursor: pointer;
}

.table-border {
    border: 1px solid #ddd;
    border-bottom: 1px solid #ddd !important;
    border-radius: 5px;
    margin-top: 10px;
    vertical-align: middle !important;
    background: #fff;
    overflow: hidden;
}

.table-cs:last-child {
    border-bottom: 0;
}

.table-row {
    border-bottom: 1px solid #ddd;
    margin: 0px 10px !important;
    padding: 10px 0px;
    overflow: hidden;
}

    .table-row .item {
        margin-top: 10px;
    }

        .table-row .item:first-child {
            margin-top: 0px;
        }

    .table-row:hover {
        background: #f6f6f6;
    }

    .table-row.chosen {
        background: rgba(53, 126, 222, 0.05);
    }

.input-inrow {
    margin-top: -6px;
    margin-bottom: -7px;
}

.table-row.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

    .table-row.disabled .btn {
        pointer-events: none;
    }

.no-padding {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.no-padding-right {
    padding-right: 0px !important;
}

.no-margin {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.table-body a:focus {
    color: #23527c;
    text-decoration: none;
}

.table-body a:hover {
    color: #23527c;
    text-decoration: none;
}

.ui-autocomplete.ui-front {
    max-height: 200px;
    overflow-y: auto; /* prevent horizontal scrollbar */
    overflow-x: hidden; /* add padding to account for vertical scrollbar */
    z-index: 1000 !important;
}

.popup {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10000;
    overflow: auto;
    height: 0;
    width: 100%;
    transition: 0.1s ease-in;
}

.popup-modal {
    width: 100%;
    height: 100%;
    background: #e7eeefb2;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-content {
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .1);
    background: white;
    border-radius: 4px;
    padding: 0 30px;
}

.content-header {
    position: relative;
}

    .content-header h1 {
        font-size: 22px;
        font-weight: 700;
        line-height: inherit;
        margin: 20px 0;
        text-transform: none;
    }

.close {
    position: absolute;
    bottom: 20px;
    right: 25px;
    padding: 10px;
    font-size: 14px;
    outline: none;
    background: transparent;
    cursor: pointer;
    text-align: center;
    font-weight: 400;
}

.content-body {
    text-align: left;
    margin-top: 25px;
}

    .content-body p {
        margin-top: 10px;
    }

    #challenge-list2 {
        overflow-y: auto;
        height:400px;
    }

.challenge-popup {
    width: 800px;
}

.popup-footer
{
    float: right;
    margin: 0 1em 1em 0;
}

.spinner {
    margin-top: 10px;
    width: 70px;
    text-align: center;
    display: none;
}

    .spinner > div {
        width: 14px;
        height: 14px;
        background-color: #89CFF0;
        border-radius: 100%;
        display: inline-block;
        -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
        animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    }

    .spinner .bounce1 {
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
    }

    .spinner .bounce2 {
        -webkit-animation-delay: -0.16s;
        animation-delay: -0.16s;
    }

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0)
    }

    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}
