* {
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
}

.one-challenge-box.base-box.solved {
    background-color: #33AD33;
    margin: 2px 0px;
    color: floralwhite;
}

.sq-div {
    margin: 0.5rem;
    height: 4rem;
}

.tabs .row.base-box {
    margin: 0;
    padding: 1.2rem;
}

.compete-section-title {
    padding: .3rem 0.5rem;
    font-size: 1.5rem;
    font-weight: 700;
}

.solve-question {
    margin: 1rem 1rem;
    float: right;
    padding: .5rem 1.5rem;
}

.not-answered a {
    background-color: gainsboro;
}

.answered a {
}

li.page-item {
    margin-right: 2px;
}

.answered a {
    background-color: #33AD33;
}

a.page-link {
    color: snow;
}

.card-content.btn:hover {
    color: white;
}

.breadcrumb-item.active {
    color: #6c757d;
    opacity: .5;
    font-size: .9rem;
    padding-top: .1rem;
}

.breadcrumb-item a {
    color: #738f93;
}

    .breadcrumb-item a:hover {
        text-decoration: none;
    }

.domain-header {
}

.domain-title {
    font-size: 1.3rem;
    font-weight: 600;
}

.domain-header .breadcrumb {
    padding: 0;
    background-color: transparent;
    margin: .2rem 0;
}

section.header-page {
    padding: 1rem 0;
}

.custom-control-label::before {
    background-color: white;
    border: 1px solid lightgray;
}

.one-filter h4.label {
    font-size: 1rem;
    color: #979faf;
    text-transform: uppercase;
}

p.challenge-detail {
    font-size: .8rem;
    opacity: .7;
}

.challenge-enter {
    text-align: right;
    padding-top: 1rem;
}

.challenge-difficult {
    color: #1ba94c;
}

.difficulty-medium {
    color: orange;
}

.difficulty-hard {
    color: red;
}

.one-challenge-box.base-box {
    margin-bottom: 0px;
}

.one-challenge-box button.btn {
    background-color: white;
}

    .one-challenge-box button.btn:hover {
        color: #28a745;
    }

a.challenge-link {
    color: black;
}

    a.challenge-link:hover {
        text-decoration: none;
    }

        a.challenge-link:hover .one-challenge-box {
            background-color: aliceblue;
        }

.card-title {
    font-size: 1.5rem;
}

a.challenge-link:hover .card-title {
    color: #28a745;
}

.one-challenge-box {
    padding: 20px;
}

section.content-page {
    padding-top: 30px;
    padding-bottom: 30px;
    background: #f3f7f7;
}

i.far.fa-star {
    color: gainsboro;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #28a745;
}

.affix {
    position: fixed;
    top: 10%;
    right: 10%;
    z-index: 9999;
    display: none;
}

.affix > div {
    max-width: 100% !important;
}

.difficulty-block {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 30% auto;
    grid-template-columns: 30% auto;
    margin-bottom: 10px;
}

    .difficulty-block p {
        margin-bottom: 0 !important;
    }

    .difficulty-block a,
    .difficulty-block .difficulty-easy,
    .difficulty-block .difficulty-medium,
    .difficulty-block .difficulty-hard,
    .difficulty-block .difficulty-score {
        text-align: right;
    }

.difficulty-label {
    color: gray;
}

.difficulty-easy {
    color: #1ba94c;
}

.sidebar-difficulty-help hr {
    margin-top: 4px !important;
}

.sidebar-difficulty-help a {
    text-decoration: none;
    font-size: 20px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 30px 1fr;
    grid-template-columns: 30px 1fr;
}

    .sidebar-difficulty-help a:hover {
        text-decoration: none;
    }

        .sidebar-difficulty-help a:hover i {
            color: #333333;
        }

    .sidebar-difficulty-help a i {
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
        text-align: left;
        color: gray;
    }

    .sidebar-difficulty-help a span {
        font-weight: 10;
        display: inline-block;
        color: #097bbf;
        text-align: left;
    }