.edit-challenge .main-modal {
    padding: 15px 0 15px 0;
}

.edit-challenge a.nav-link:hover{
    color: black;
}

.edit-challenge h1.title{
    padding: 10px 0;
}

.edit-challenge .test-case-popup .modal-content {
    max-height: 500px;
    overflow-y: auto;
}

.edit-challenge .form-group .setting-des {
    padding-left: 15px;
    padding-right: 15px;
}

.edit-challenge .form-group label {
    font-weight: bold;
}

.edit-challenge .save-change-btn-group {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px solid grey;
    padding: 20px;
    background-color: white;
    z-index: 100;
}

.save-change-btn-group button {
    float: right;
}

.edit-challenge .table-test-case {
    padding-top: 15px;
}

.edit-challenge .moderators-list ul {
    list-style-type: none;
}

.edit-challenge .moderators-list .profile-pic {
    max-height: 40px;
}

.code-editor {
    position: relative;
    overflow: hidden;
    height: 600px;
    width: auto;
    /* margin: 50px 0 10px 0; */
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.2);
}

#editor {
    position: absolute;
    display: inline-block;
    height: 100%;
    width: 100%;
    font-size: 20px;
}

@media (min-width: 576px) {
    .edit-challenge .test-case-popup {
        max-width: 800px;
    }
}
