* {
    margin: 0;
    padding: 0;
}

#btn_run {
    padding: 4px 25px;
    font-size: 20px;
    margin-bottom: 10px;
}

#runcode_result {
    background-color: lightslategray;
    color: white;
}

select#language_option {
    float: right;
}

#option {
    padding: 10px 20px;
    border-bottom: 1px solid lightgray;
}

#code_editor {
    position: relative;
    height: 600px;
}

#editor {
    font-size: 16px;
}

#editor {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
