
@model IEnumerable<DAO.EF.CHALLENGE>

<a class="btn btn-success" href="/Moderator/CreateChallenge/@ViewBag.CompeteID" style="float: right;">Create Challenge</a>
<div id="" class="table-adjustable">
    <div class="table">
        <div class="row table-title no-margin">
            <div class="col-xs-1 vd-col-xs-30" style="margin-left: 1em;">
                Challenge Title
            </div>
            <div class="col-xs-1 vd-col-xs-30 text-center">
                Challenge Difficulty
            </div>
            <div class="col-xs-1 vd-col-xs-20 text-center">
                Challenge Score
            </div>
            <div class="col-xs-1 vd-col-xs-20 text-center">
                Action
            </div>
        </div>
        <div class="table-border table-cs table-body" id="challenge-list">
            @if (Model.Count() > 0)
            {
                foreach (var challenge in Model)
                {

            <div class="row table-row no-margin table-cs" id="c-@challenge.ID">

                <div class="col-xs-1 vd-col-xs-30" style="margin-left: 1em;">
                    <a href="/Moderator/Edit/Challenge/@challenge.ID">
                        @challenge.Title
                    </a>
                </div>
                @switch (challenge.ChallengeDifficulty)
                {
                    case 1:
                        <div class="col-xs-1 vd-col-xs-30 text-center">Easy</div>
                        break;
                    case 2:
                        <div class="col-xs-1 vd-col-xs-30 text-center">Medium</div>
                        break;
                    case 3:
                        <div class="col-xs-1 vd-col-xs-30 text-center">Hard</div>
                        break;
                    case 4:
                        <div class="col-xs-1 vd-col-xs-30 text-center">Advanced</div>
                        break;
                    case 5:
                        <div class="col-xs-1 vd-col-xs-30 text-center">Expert</div>
                        break;
                }
                <div class="col-xs-1 vd-col-xs-20 text-center">@challenge.Score</div>
                <div class="col-xs-1 vd-col-xs-20 text-center">
                    <button class="btn btn-primary" data-id="@challenge.ID" onclick="DeleteChallenge(this)">
                        Delete
                    </button>
                </div>
            </div>

                }
                        }
            else
            {
                <div id="no-content" class="row table-row no-margin table-cs">
                    <div class="col-sm-12 text-center">
                        You have not created any challenges.
                    </div>
                </div>
            }
        </div>
    </div>
</div>
