
@{
    ViewBag.Title = "Create Question";
    Layout = "~/Views/Shared/_User_Layout.cshtml";
}

@if (ViewBag.CanAccess == false)
{
    <div style="text-align: center;margin: 0 auto; padding: 30px;">
        <h2>You don't have permission to view this page</h2>
        <h2>405!</h2>
    </div>
    return;
}

@section CustomCSS
{
    @Styles.Render("~/Assets/Public/css/create-question.css")
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
}
<div class="container">
    <h1 class="title">Create Question</h1>
    <div class="question" id="question">
        <div class="ques-item" id="question-1">
            <a href="javascript:;" onclick="RemoveQuestion(1)" class="btn-remove-ques"><i class="fas fa-times"></i></a>
            <h3>Question 1</h3>
            <div class="form-group row">
                <label class="col-sm-2 control-label" for="choice-1">Type</label>
                <div class="col-sm-4">
                    <select class="form-control" id="choice-1" onchange="onChoiceChange(1, this)">
                        <option value="single">single</option>
                        <option value="multiple">multiple</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 control-label" for="score_Input-1">Score</label>
                <div class="col-sm-4">
                    <input class="form-control" id="score_Input-1" type="number">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 control-label" for="description_Input-1">Description</label>
                <div class="col-sm-8">
                    <textarea class="form-control" rows="4" id="description_Input-1"></textarea>
                </div>
            </div>
            <div class="answer">
                <h6>Add answer for question (choose the the right answer on the left)</h6>
                <div class="list" id="answer-list-1">
                    <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="1-answer-1" name="answer-1" checked>
                        <label class="custom-control-label" for="1-answer-1">
                            <input class="form-control" id="1-ques-1" type="text">
                        </label>
                        <a style="font-size: 24px;padding-left: 5px;color: red;" href="javascript:;"
                           class="remove-option"><i class="fas fa-times"></i></a>
                    </div>
                </div>
                <button type="button" class="btn btn-success" onclick="AddNewAnswer(1)">Add</button>
            </div>
        </div>
    </div>
    <div class="save-change-btn-group">
        <button class="btn btn-success" id="js-save-changes-btn" onclick="Submit()">Save Changes</button>
        <button type="button" class="btn btn-success" onclick="AddNewQuestion()">New question</button>
    </div>
    <div style="height: 100px;">

    </div>
</div>

@section scripts{
    <script src="~/Assets/Public/vendor/ckeditor5-build-classic/ckeditor.js"></script>
    <script src="~/Assets/Public/vendor/sweetalert2-8.13.1/dist/sweetalert2.all.min.js"></script>
    <script>
        var count = 1;
        var answer = 1;
        var editor = [];
        window.onload = function SetClassicEditor() {
            ClassicEditor
                .create(document.querySelector('#description_Input-1'))
                .then(newEditor => {
                    editor.push(newEditor);
                })
                .catch(error => {
                    console.error(error);
                });
        }

        function AddNewAnswer(num) {
            answer++;
            var e = $('#choice-' + num)[0];
            var eList = $('#answer-list-' + num);
            if (e.options[e.selectedIndex].value === 'single') {
                eList.append(`<div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="`+ num + `-answer-` + answer + `" name="answer-` + num + `">
                            <label class="custom-control-label" for="`+ num + `-answer-` + answer + `">
                                <input class="form-control"  id="`+ num + `-ques-` + answer + `" type="text">
                            </label>
                            <a style="font-size: 24px;padding-left: 5px;color: red;" href="javascript:;"
                               class="remove-option"><i class="fas fa-times"></i></a>
                        </div>`);
            } else {
                eList.append(`<div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="`+ num + `-answer-` + answer + `" name="answer-` + num + `">
                            <label class="custom-control-label" for="`+ num + `-answer-` + answer + `">
                                <input class="form-control"  id="`+ num + `-ques-` + answer + `" type="text">
                            </label>
                            <a style="font-size: 24px;padding-left: 5px;color: red;" href="javascript:;"
                               class="remove-option"><i class="fas fa-times"></i></a>
                        </div>`);
            }
        }
        $(document).on('click', ".remove-option", function (e) {
            element = $(this);
            element.parent().remove();
            //answer--;
        });
        function onChoiceChange(num, e) {
            var val = e.options[e.selectedIndex].value;
            var eList = $('#answer-list-' + num);
            var list = [];
            for (var i = 1; i <= answer; i++) {
                var temp = $('#' + num + '-ques-' + i)[0];
                if (temp !== undefined) {
                    list.push({ value: temp.value, index: i });
                }
            }
            eList.empty();
            //console.log(list);
            if (val === 'single') {

                for (var item in list) {
                    eList.append(`<div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="`+ num + `-answer-` + list[item].index + `" name="answer-` + num + `">
                            <label class="custom-control-label" for="`+ num + `-answer-` + list[item].index + `">
                                <input class="form-control"  id="`+ num + `-ques-` + list[item].index + `" type="text" value="` + list[item].value + `">
                            </label>
                            <a style="font-size: 24px;padding-left: 5px;color: red;" href="javascript:;"
                               class="remove-option"><i class="fas fa-times"></i></a>
                        </div>`);
                }
            } else {
                for (var item in list) {
                    eList.append(`<div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="`+ num + `-answer-` + list[item].index + `" name="answer-` + num + `">
                            <label class="custom-control-label" for="`+ num + `-answer-` + list[item].index + `">
                                <input class="form-control"  id="`+ num + `-ques-` + list[item].index + `" type="text" value="` + list[item].value + `">
                            </label>
                            <a style="font-size: 24px;padding-left: 5px;color: red;" href="javascript:;"
                               class="remove-option"><i class="fas fa-times"></i></a>
                        </div>`);
                }
            }
        }
        function AddNewQuestion() {
            count++;
            answer++;
            $('#question').append(`<div class="ques-item" id="question-` + count +`">
                <a href="javascript:;" onclick="RemoveQuestion(` + count +`)" class="btn-remove-ques"><i class="fas fa-times"></i></a>
                <h4>Question `+ count +`</h4>
                <div class="form-group row">
                    <label class="col-sm-2 control-label" for="choice-` + count +`">Type</label>
                    <div class="col-sm-4">
                        <select class="form-control" id="choice-` + count + `"  onchange="onChoiceChange(` + count + `, this)">
                            <option value="single">Single choice</option>
                            <option value="multiple">Multiple choice</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 control-label" for="score_Input-` + count +`">Score</label>
                    <div class="col-sm-4">
                        <input class="form-control" id="score_Input-` + count +`" type="number">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 control-label" for="description_Input-` + count +`">Description</label>
                    <div class="col-sm-8">
                        <textarea class="form-control" rows="4" id="description_Input-` + count +`"></textarea>
                    </div>
                </div>
                <div class="answer">
                    <h6>Add answer for question (choose the the right answer on the left)</h6>
                    <div class="list" id="answer-list-`+ count +`">
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input"id="` + count +`-answer-`+ answer + `" name="answer-` + count +`" checked>
                            <label class="custom-control-label" for="` + count +`-answer-`+ answer +`">
                                <input class="form-control" id="`+ count + `-ques-` + answer + `" type="text">
                            </label>
                            <a style="font-size: 24px;padding-left: 5px;color: red;" href="javascript:;"
                               class="remove-option"><i class="fas fa-times"></i></a>
                        </div>
                    </div>
                    <button type="button" class="btn btn-success" onclick="AddNewAnswer(`+ count +`)">Add</button>
                </div>
            </div>`);

            //add editor
            ClassicEditor
                .create(document.querySelector('#description_Input-' + count))
                .then(newEditor => {
                    editor.push(newEditor);
                })
                .catch(error => {
                    console.error(error);
                });

            //goto new question
            $('html, body').animate({
                scrollTop: $("#question-" + count).offset().top
            }, 1000);
        }

        function Submit() {
            var arr = [];
            var isValidate = true;
            var error = "";
            for (var i = 1; i <= count; i++) {
                var e = $('#choice-' + i)[0];
                if (e === undefined) continue;
                var list = [];
                var answer_count = 0;
                for (var j = 1; j <= answer; j++) {
                    var score = $('#score_Input-' + i).val();
                    var description = editor[i - 1].getData();
                    //check if there are empty input
                    if (score === "" || description === "") {
                        isValidate = false;
                        error = "There are question that you didn't set score or description.";
                        break;
                    }

                    var temp = $('#' + i + '-ques-' + j)[0];
                    if (temp !== undefined) {
                        if (temp.value === "") {
                            isValidate = false;
                            error = "There are answer that you didn't set.";
                            break;
                        }
                        var ques_result = $('#' + i + '-answer-' + j).prop('checked');
                        //console.log(isValidate);
                        if (ques_result) answer_count++;
                        list.push({ Value: temp.value, Result: ques_result });
                    }
                }
                //check if no answer
                if (answer_count <= 0) {
                    isValidate = false;
                    error = "There are question that you didn't choose answer.";
                    break;
                }
                //validate
                if (!isValidate) {
                    break;
                }

                var obj = {
                    Score: score,
                    Description: description,
                    Type: e.options[e.selectedIndex].value === "single" ? 0 : 1,
                    List: list
                };
                arr.push(obj);
            }

            //validate
            if (!isValidate) {
                Swal.fire({
                    type: 'warning',
                    title: 'Warning',
                    text: error
                });
                return;
            }
            //check no question
            if (arr.length <= 0) {
                Swal.fire({
                    type: 'warning',
                    title: 'Warning',
                    text: 'There is no question.'
                });
                return;
            }

            //call ajax
            $.ajax({
                    method: "POST",
                    url: "/Moderator/CreateQuestion",
                    data: {
                        question: arr,
                        competeID: @Model
                    }
                })
                    .done(function (msg) {
                        if (msg) {
                            Swal.fire({
                                title: msg.result ? 'Create questions succeed' : 'Create questions fail',
                                text: "Click continue to proceed to manage compete",
                                type: msg.result ? 'success' : 'error',
                                showCancelButton: false,
                                confirmButtonColor: '#d33',
                                cancelButtonColor: '#3085d6',
                                confirmButtonText: 'Continue'
                            }).then((result) => {
                                if (result.value) {
                                    window.location.href = "/Moderator/EditCompete/@Model";
                                }
                            })
                        }

                    });
        }

        function RemoveQuestion(id) {
            $("#question-" + id).fadeOut(300, function () { $(this).remove(); });
        }
    </script>
}